.ant-carousel .slick-slide {
  background: #364d79;
  overflow: hidden;
  width: 840px;
  height: 458px;
}
.ant-carousel {
  width: 840px;
  height: 458px;
  margin: 10px auto;
}
.slider {
  position: relative;
}
.slider img {
  width: 840px;
  height: 458px;
}
.slider h3 {
  position: absolute;
  left: 10px;
  bottom: 10px;
}
.ant-carousel .slick-slide h3 {
  color: #fff;
}
.newslist {
  width: 840px;
  margin: 10px auto;
}
